@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: theme('colors.background');
  color: theme('colors.white');
}

@layer base {
  * {
    @apply border-gray-700;
  }
}